<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"><link rel="stylesheet" type="text/css" href="{% static 'logreg_app/css/main.css' %}">
    <title>User Reviews</title>
</head>
<body>
    <div class="header">
        <a href = "/books">Home</a>
        <a href = "/book/add">Add Book and Review</a>
        <a href = "/clear">Log Out</a>
    </div>

    <div class="mid">
        <h3>User Alias: {{user.alias}}</h3>
        <h4>Name: {{user.name}}</h4>
        <h4>Email: {{user.email}}</h4>
        <h4>Total Reviews: {{length}}</43>


        <h3>Posted Reviews on the following books:</h3>
        {% for review in reviews %}
            <tr>
                <td><a href="/book/{{review.reviewed_book.id}}">{{review.reviewed_book.title}}</a></td><br>
            </tr>
        {% endfor %}

    </div>
</body>
</html>